<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="../../../assets/img/perfil.jpeg"
    cardTitle="SOBRE MIM"
    cardDescription="
    With a background in software development and administrative area, I bring versatile skills and a commitment to excellence.

    Graduated in Business Administration (2017 - Universidade de Mogi das Cruzes) and currently studying a postgraduate degree in Full-Stack Development.

    I've worked with Ruby, Ruby on Rails, and JavaScript in some projects that I developed back and front-end .

    But also, experience with accounts receivable and accounts payable. Being responsible to ensure that all payments were up to date.

    I lived in Ireland from 2022 to 2023 in order to improve my English. During this period, I studied in an English school and worked at a local company meeting people from different countries and cultures.

    I'm passionate about continuous learning. Let's connect and explore how my diverse skill set can add value to your team.
"
  >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="../../../assets/img/pokedex.PNG"
      cardTitle="POKEDEX - A Javascript project to consume an API via fetch. Developed in partneship with Digital Innovation One (DIO).">
    </app-small-card>
    <app-small-card
      photoCover="../../../assets/img/jogo-numero-secreto.PNG"
      cardTitle="JOGO NÚMERO SECRETO - It is a game that you need to guess the secret number. Developed in partneship with Alura.">
    </app-small-card>
    <app-small-card
      photoCover="../../../assets/img/portfolio.PNG"
      cardTitle="PORTFÓLIO - A project about myself. Developed in partnership with Alura.">
    </app-small-card>
  </div>
</div>
